body {
    padding: 0;
    margin: 0;
    font-family: cursive;
    background-color: lightgreen;
    font-size: 20px;
    text-align: center;
    border-color: blue;
    border-width: 50px;
  }
   .form-image {
     display: block;
     margin: 10px;
     margin-left: auto;
     margin-right: auto;
     block-size: 60px 60px;
     height: 200px;
     width: 20%;
     border-radius: 10%;
   }